<div class="container" *ngIf="user">
  <div class="picture">
    <img class="image" [src]="user.avatar_url" />
    <button class="btn btn-secondary" (click)="goBack()">Go back</button>
  </div>
  <div class="info">
    <div class="textbox backbutton">
      <div class="title">
        Login:
      </div>
      <h6>@{{ user.login }}</h6>
    </div>
    <div class="textbox">
      <div class="title">
        Name:
      </div>
      <h6>{{ user.name }}</h6>
    </div>
    <div class="textbox">
      <div class="title">
        Company:
      </div>
      <h6>{{ user.company }}</h6>
    </div>
    <div class="textbox">
      <div class="title">
        Email:
      </div>
      <h6>{{ user.email }}</h6>
    </div>
    <div class="lists">
      <ul class="repos" *ngIf="user.repositories">
        <h6>REPOSITORIES ({{ user.repositoriesNumber }})</h6>
        <li class="repo" *ngFor="let repo of user.repositories">
          {{ repo.name | json }}
        </li>
      </ul>
      <ul class="followers" *ngIf="user.followers">
        <h6>FOLLOWERS ({{ user.followerNumber }})</h6>
        <li class="follower" *ngFor="let follower of user.followers">
          {{ follower.login | json }}
        </li>
      </ul>
    </div>
  </div>
</div>
