.container
  display: flex
  justify-content: center
  flex-direction: column
  margin-top: 10px
  .user
    display: flex
    .info
      display: flex
      flex-direction: column
      width: 100%
      border: 1px solid black
      .textbox
        border: 1px solid black
  .lists
    display: flex
