<div class="container" *ngIf="user">
  <div class="picture">
    <img class="image" [src]="user.picture" />
  </div>
  <div class="info">
    <div class="textbox">
      <h4>{{ user.login }}</h4>
    </div>
    <div class="textbox" *ngIf="user.company">
      <h4>{{ user.company }}</h4>
    </div>
    <div class="textbox" *ngIf="user.email">
      <h4>{{ user.email }}</h4>
    </div>
    <div class="lists">
      <ul class="repos">
        <h4>REPOSITORIES ({{ user.repositories.length }})</h4>
        <li class="repo" *ngFor="let repo of user.repositories">
          {{ repo.name | json }}
        </li>
      </ul>
      <ul class="followers">
        <h4>FOLLOWERS ({{ user.followers.length }})</h4>
        <li class="follower" *ngFor="let follower of user.followers">
          {{ follower.login | json }}
        </li>
      </ul>
    </div>
  </div>
</div>
