.userList
  display: flex
  flex-direction: column
  justify-content: space-between
  .user
    display: flex
    border: 1px solid black
    justify-content: space-between
    padding: 1px
    .profilepicture
      max-width: 75px
      max-height: 75px
    .login
      font-size: 25px
      border: 1px solid  black
      text-transform: uppercase
